.root {
    padding: 1rem;
}

.fields {
    max-width: 300px;
}

.lead {
    background-color: rgb(var(--venia-grey));
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}

.submit {
    padding-top: 1rem;
}

.error {
    color: rgb(var(--venia-error));
    background-color: rgb(var(--venia-grey));
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}
