.dropdown,
.dropdown_open {
    background-color: rgb(var(--venia-grey));
    display: grid;
    gap: 1rem;
    min-width: 22rem;
    left: 50%;
    position: absolute;
    top: 3.3rem;
    transform: translateX(-50%);
    z-index: 1;
}

.dropdown {
    opacity: 0;
    visibility: hidden;
}

.dropdown_open {
    opacity: 1;
    visibility: visible;
}
