<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ 
  ~ Copyright 2020 Adobe. All rights reserved.
  ~ This file is licensed to you under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License. You may obtain a copy
  ~ of the License at http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software distributed under
  ~ the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
  ~ OF ANY KIND, either express or implied. See the License for the specific language
  ~ governing permissions and limitations under the License.
  ~ 
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-template.price="${@ priceRange=priceRange, displayYouSave, sku}">
    <div class="price" data-sly-test=${!priceRange.isRange} data-product-sku=${sku}>
        <sly data-sly-test.isDiscounted=${priceRange.isDiscounted}>
            <span class="regularPrice">${priceRange.formattedRegularPrice}</span>
            <span class="discountedPrice">${priceRange.formattedFinalPrice}</span>
            <span class="you-save" data-sly-test=${displayYouSave}>${'You save' @i18n} ${priceRange.formattedDiscountAmount} (${priceRange.discountPercent}%)</span>
        </sly>
        <span data-sly-test=${!isDiscounted}><sly data-sly-test=${priceRange.isStartPrice}>${'Starting at' @i18n} </sly>${priceRange.formattedRegularPrice}</span>
    </div>
    <div class="price range" data-sly-test=${priceRange.isRange} data-product-sku=${sku}>
        <sly data-sly-test.isDiscounted=${priceRange.isDiscounted}>
            <span class="regularPrice">${priceRange.formattedRegularPrice} - ${priceRange.formattedRegularPriceMax}</span>
            <span class="discountedPrice">${priceRange.formattedFinalPrice} - ${priceRange.formattedFinalPriceMax}</span>
            <span class="you-save" data-sly-test=${displayYouSave}>${'You save' @i18n} ${priceRange.formattedDiscountAmount} (${priceRange.discountPercent}%)</span>
        </sly>
        <span data-sly-test=${!isDiscounted}>${priceRange.formattedRegularPrice} - ${priceRange.formattedRegularPriceMax}</span>
    </div>
</sly>