.root {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
}

@media (max-width: 424px) {
    .root {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
