version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:8u212-jdk-stretch
    steps:
      - checkout
      - restore_cache:
          keys: 
            - maven-repo-v1-{{ checksum "pom.xml" }}
            - maven-repo-v1-
      - run:
          name: Build
          command: |
            java -version
            mvn -v
            mvn -B clean install
      - save_cache:
          paths:
            - ~/.m2
          key: maven-repo-v1-{{ checksum "pom.xml" }}
      - store_test_results:
          path: bundles/core/target/surefire-reports
      - store_artifacts:
          path: bundles/core/target/surefire-reports
      - run:
          name: Upload Code Coverage
          command: bash <(curl -s https://codecov.io/bash) -F unittests

  karma:
    docker:
      - image: circleci/node:lts-browsers
    steps:
      - checkout
      - run:
          name: Provision
          command: npm install
          working_directory: ./ui.apps
      - run:
          name: Run Unit Tests
          command: npm test
          working_directory: ./ui.apps
      - store_test_results:
          path: ui.apps/junit
      - store_artifacts:
          path: ui.apps/junit
      - run:
          name: Upload Code Coverage
          command: bash <(curl -s https://codecov.io/bash) -F karma

workflows:
  version: 2
  build:
    jobs:
      - build
      - karma