version: 2.1

orbs:
  codecov: codecov/codecov@1.1.1
  browser-tools: circleci/browser-tools@1.4.8

common:
  restore_cache: &restore_cache
    restore_cache:
      keys:
        - maven-repo-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
        - maven-repo-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}
        - maven-repo-{{ .Environment.CACHE_VERSION }}-

  integration_test_steps: &integration_test_steps
    steps:
      - checkout
      - *restore_cache
      - attach_workspace:
          at: /home/circleci/build
      - run:
          name: Integration tests
          command: node .circleci/ci/it-tests.js
      - store_test_results:
          path: it/http/target/failsafe-reports
      # Save test results as artifacts
      - store_artifacts:
          path: it/http/target/failsafe-reports
      # Save AEM logs as artifacts
      - store_artifacts:
          path: logs
      # Save Jacoco coverage report as artifact
      - store_artifacts:
          path: bundles/core/target/site/jacoco
      - store_artifacts:
          path: extensions/product-recs/bundle/target/site/jacoco
      - store_artifacts:
          path: examples/bundle/target/site/jacoco

  selenium_test_steps: &selenium_test_steps
    steps:
      - checkout
      - browser-tools/install-browser-tools
      - *restore_cache
      - attach_workspace:
          at: /home/circleci/build
      - run:
          name: UI tests
          command: node .circleci/ci/it-tests.js
      - store_test_results:
          path: ui.tests/test-module/reports
      # Save test results as artifacts
      - store_artifacts:
          path: ui.tests/test-module/reports
      # Save AEM logs as artifacts
      - store_artifacts:
          path: logs

  docker_auth: &docker_auth
    auth:
      username: $ARTIFACTORY_CLOUD_USER
      password: $ARTIFACTORY_CLOUD_PASS

executors:
  cif_executor:
    docker:
      - image: cimg/openjdk:11.0.16-browsers
  cif_executor_java8:
    docker:
      - image: cimg/openjdk:8.0-browsers
  test_executor_cloudready:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-qp:6.4.6-openjdk11
        <<: *docker_auth
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-aem-cloudready:14227-openjdk11
        <<: *docker_auth
  test_executor_655:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-qp:6.4.6-openjdk11
        <<: *docker_auth
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-aem:6.5.19.0-openjdk11
        <<: *docker_auth

jobs:
  build-java-11:
    executor: cif_executor
    working_directory: /home/circleci/build
    steps:
      - checkout
      - *restore_cache
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Build
          command: node .circleci/ci/build.js
      - save_cache:
          paths:
            - ~/.m2
          key: maven-repo-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
      - persist_to_workspace:
          root: /home/circleci/build
          paths:
            - configuration.json
            - bundles/core/target
            - ui.apps/target/*.zip
            - ui.config/target/*.zip
            - extensions/product-recs/bundle/target
            - extensions/product-recs/content/target/*.zip
            - examples/bundle/target
            - examples/ui.apps/target/*.zip
            - examples/ui.config/target/*.zip
            - examples/ui.content/target/*.zip
            - it/content/target/*.zip
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results/junit
      - codecov/upload:
          flags: unittests

  build-java-8:
    executor: cif_executor_java8
    working_directory: /home/circleci/build
    steps:
      - checkout
      - *restore_cache
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Build
          command: node .circleci/ci/build.js
      - store_artifacts:
          path: test-results/junit

  karma:
    docker:
      - image: cimg/node:16.17.1-browsers
    steps:
      - checkout
      - browser-tools/install-browser-tools
      - run:
          name: Provision
          command: |
            node -v
            npm -v
            npm install
            npm run webpack:dev
          working_directory: ./ui.apps
      - run:
          name: Run Unit Tests (Karma)
          command: npm test
          working_directory: ./ui.apps
      - store_test_results:
          path: ui.apps/karma-junit
      - store_artifacts:
          path: ui.apps/karma-junit
      - codecov/upload:
          flags: karma

  jest:
    docker:
      - image: cimg/node:16.20.0-browsers
    steps:
      - checkout
      - run:
          name: Provision
          command: |
            node -v
            npm -v
            npm ci --legacy-peer-deps
          working_directory: ./react-components
      - run:
          name: Run Unit Tests (Jest)
          command: npm run ci
          working_directory: ./react-components
      - store_test_results:
          path: ./react-components/test-results
      - store_artifacts:
          path: ./react-components/test-results
      - codecov/upload:
          flags: jest

  jest-extension-product-recs:
    docker:
      - image: cimg/node:16.17.1-browsers
    steps:
      - checkout
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Provision (Core)
          command: |
            node -v
            npm -v
            npm install
            npm run webpack:dev
            npm link
          working_directory: ./react-components
      - run:
          name: Provision (Extension)
          command: |
            npm install
            npm link @adobe/aem-core-cif-react-components --legacy-peer-deps
          working_directory: ./extensions/product-recs/react-components
      - run:
          name: Run Unit Tests (Jest)
          command: npm run ci
          working_directory: ./extensions/product-recs/react-components
      - store_test_results:
          path: ./extensions/product-recs/react-components/test-results
      - store_artifacts:
          path: ./extensions/product-recs/react-components/test-results
      - codecov/upload:
          flags: jest

  jest-extension-experience-platform-connector:
    docker:
      - image: cimg/node:16.17.1-browsers
    steps:
      - checkout
      - run:
          name: Provision (Extension)
          command: |
            npm install --legacy-peer-deps
          working_directory: ./extensions/experience-platform-connector
      - run:
          name: Run Unit Tests (Jest)
          command: npm run ci
          working_directory: ./extensions/experience-platform-connector
      - store_test_results:
          path: ./extensions/experience-platform-connector/test-results
      - store_artifacts:
          path: ./extensions/experience-platform-connector/test-results
      - codecov/upload:
          flags: jest

  integration-test-655:
    executor: test_executor_655
    environment:
      AEM: classic
      TYPE: integration
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  integration-test-cloudready-with-addon:
    executor: test_executor_cloudready
    environment:
      AEM: addon
      TYPE: integration
    resource_class: large
    working_directory: /home/circleci/build
    <<: *integration_test_steps

  selenium-chrome-655:
    executor: test_executor_655
    environment:
      AEM: classic
      TYPE: selenium
      BROWSER: chrome
    resource_class: large
    working_directory: /home/circleci/build
    <<: *selenium_test_steps

  selenium-chrome-cloudready-with-addon:
    executor: test_executor_cloudready
    environment:
      AEM: addon
      TYPE: selenium
      BROWSER: chrome
    resource_class: large
    working_directory: /home/circleci/build
    <<: *selenium_test_steps

  release:
    executor: cif_executor
    steps:
      - checkout
      - *restore_cache
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Release
          # Only performs a 'mvn deploy' after the 'mvn release:prepare' because circleCI
          # already checks out the git tag like 'mvn release:perform' would do.
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> /home/circleci/.npmrc
            echo $GPG_PRIVATE_KEY | base64 --decode | gpg --batch --import
            mvn -B -s /home/circleci/project/.circleci/settings.xml clean deploy -P release-sign-artifacts,adobe-public -Dskip-it
            rm -rf /home/circleci/.gnupg
            rm -rf /home/circleci/.npmrc

  deploy-queries:
    executor: cif_executor
    steps:
      - checkout
      - *restore_cache
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Generate Queries
          command: |
            mvn -B clean verify
          working_directory: bundles/core
      - add_ssh_keys:
          fingerprints:
            - "SHA256:oZQqzw8d3jyfVJ/96RvCghdJg0gVXszZop0EGZzyfwI"
      - run:
          name: Deploy Queries
          command: |
            node --unhandled-rejections=strict .circleci/ci/deploy-queries.js

workflows:
  version: 2
  build-and-release:
    jobs:
      - build-java-11:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
      - build-java-8:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
      - karma:
          filters:
            tags:
              only: /.*/
      - jest:
          filters:
            tags:
              only: /.*/
      - jest-extension-product-recs:
          filters:
            tags:
              only: /.*/
      - jest-extension-experience-platform-connector:
          filters:
            tags:
              only: /.*/
      - integration-test-655:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build-java-11
            - build-java-8
            - karma
            - jest
            - jest-extension-product-recs
            - jest-extension-experience-platform-connector
      - integration-test-cloudready-with-addon:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build-java-11
            - build-java-8
            - karma
            - jest
            - jest-extension-product-recs
            - jest-extension-experience-platform-connector
      - selenium-chrome-655:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build-java-11
            - build-java-8
            - karma
            - jest
            - jest-extension-product-recs
            - jest-extension-experience-platform-connector
      - selenium-chrome-cloudready-with-addon:
          context:
            - CIF Artifactory Cloud
          filters:
            tags:
              only: /.*/
          requires:
            - build-java-11
            - build-java-8
            - karma
            - jest
            - jest-extension-product-recs
            - jest-extension-experience-platform-connector
      - release:
          context:
            - CIF Artifactory Cloud
            - CIF NPM
            - CIF Maven Central
          requires:
            - build-java-11
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^core-cif-components-reactor-\d+\.\d+\.\d+$/
      - deploy-queries:
          context:
            - CIF Artifactory Cloud
          requires:
            - build-java-11
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^core-cif-components-reactor-\d+\.\d+\.\d+$/
