version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

executors:
  cif_executor:
    docker:
      - image: circleci/openjdk:8u212-jdk-stretch-node

jobs:
  build:
    executor: cif_executor
    steps:
      - checkout
      - restore_cache:
          keys: 
            - maven-repo-v1-{{ checksum "pom.xml" }}
            - maven-repo-v1-
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Build
          command: |
            java -version
            mvn -v
            mvn -B clean install
      - save_cache:
          paths:
            - ~/.m2
          key: maven-repo-v1-{{ checksum "pom.xml" }}
      - store_test_results:
          path: bundles/core/target/surefire-reports
      - store_artifacts:
          path: bundles/core/target/surefire-reports
      - store_test_results:
          path: examples/bundle/target/surefire-reports
      - store_artifacts:
          path: examples/bundle/target/surefire-reports
      - codecov/upload:
          conf: .circleci/codecov.yml
          flags: unittests

  karma:
    docker:
      - image: circleci/node:lts-browsers
    steps:
      - checkout
      - run:
          name: Provision
          command: |
            node -v
            npm -v
            npm install
            npm run webpack:dev
          working_directory: ./ui.apps
      - run:
          name: Run Unit Tests (Karma)
          command: npm test
          working_directory: ./ui.apps
      - store_test_results:
          path: ui.apps/karma-junit
      - store_artifacts:
          path: ui.apps/karma-junit
      - codecov/upload:
          conf: .circleci/codecov.yml
          flags: karma
  jest:
    docker:
      - image: circleci/node:lts-browsers
    steps:
      - checkout
      - run:
          name: Provision
          command: |
            node -v
            npm -v
            npm install
          working_directory: ./react-components
      - run:
          name: Run Unit Tests (Jest)
          command: npm run ci
          working_directory: ./react-components
      - store_test_results:
          path: ./react-components/test-results
      - store_artifacts:
          path: ./react-components/test-results
      - codecov/upload:
          conf: .circleci/codecov.yml
          flags: jest
 
  release:
    executor: cif_executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - maven-repo-v1-{{ checksum "pom.xml" }}
            - maven-repo-v1-
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Release
          # Only performs a 'mvn deploy' after the 'mvn release:prepare' because circleCI
          # already checks out the git tag like 'mvn release:perform' would do.
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> /home/circleci/.npmrc
            echo $GPG_PRIVATE_KEY | base64 --decode | gpg --batch --import
            mvn -B -s /home/circleci/project/.circleci/settings.xml clean deploy -P release-sign-artifacts,adobe-public
            rm -rf /home/circleci/.gnupg
            rm -rf /home/circleci/.npmrc

workflows:
  version: 2
  build-and-release:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - karma:
          filters:
            tags:
              only: /.*/
      - jest:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^core-cif-components-reactor-\d+\.\d+\.\d+$/