{
    "presets": [
        ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": "3.17", "targets": "last 2 version, > 1%"}],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
