.customize {
    align-items: center;
    display: flex;
    grid-area: cart;
    justify-content: center;
}

.required_info {
    color: rgb(var(--venia-error));
}

.option_quantity_title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 1.5rem 0 0.5rem;
}

.option_quantity_input {
    -moz-appearance: textfield;
    margin: 0;
    height: 34px;
    text-align: center;
    width: 54px;
    padding: 1px 9px;
}

.option_quantity_input::-webkit-outer-spin-button,
.option_quantity_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select_icons {
    --iconsBefore: 0;
    --iconsAfter: 1;
}

.select_options_root {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.multiselect_options_root {
    background: white;
    border: 1px solid #707070;
    border-radius: 2px;
    color: #212121;
    font-size: 1rem;
    width: 75%;
    -webkit-appearance: none;
}

.customization__info {
    float: right;
}

.totalPrice {
    font-weight: 700;
}
