<configuration>

  <!-- The default console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Captures all GraphQL queries -->
  <appender name="GRAPHQL" class="ch.qos.logback.core.FileAppender">

    <file>src/test/resources/test-queries/graphql-requests.log</file>
    <append>false</append>

    <!-- We only want DEBUG messages -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>NEUTRAL</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <!-- We remove the dummy test queries -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <expression>return message.contains("{dummy}");</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>

    <!-- Custom filter to get unique queries -->
    <filter class="com.adobe.cq.commerce.core.testing.UniqueMessageLogBackFilter" />

    <!-- We remove the text added by the logger in GraphqlClientImpl -->
    <encoder>
      <pattern>%replace(%msg){"Executing GraphQL query on endpoint '.*?': ", ''}%n%n</pattern>
    </encoder>
  </appender>

  <logger name="com.adobe.cq.commerce.graphql.client.impl.GraphqlClientImpl" level="DEBUG" additivity="false">
    <appender-ref ref="GRAPHQL"/>
  </logger>

  <logger name="org.apache.sling.models.impl.ModelPackageBundleListener" level="OFF"/>
  <logger name="org.apache.sling.models.impl.AdapterImplementations" level="OFF"/>
  <logger name="org.apache.sling.models.impl.ModelAdapterFactory" level="OFF"/>
  <logger name="com.adobe.cq.commerce.core.components.internal.models.v1.productlist" level="OFF"/>
  <logger name="com.adobe.cq.commerce.core.components.internal.models.v1.relatedproducts" level="OFF"/>
  <logger name="com.adobe.cq.commerce.core.components.internal.models.v1.productcarousel" level="OFF"/>
  <logger name="com.adobe.cq.commerce.core.search.internal.converters" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>