.categoryTree__root--shadow {
    display: none;
}

.cmp-navigation__item--active .categoryLeaf__text {
    color: #c53457;
}

.cmp-navigation__item--active .icon__root--active {
    color: #c53457;
}

.categoryLeaf__root--link {
    padding-left: 0;
    padding-right: 0;
}

.categoryLeaf__root--box {
    border-bottom: 1px solid rgb(var(--venia-border));
    padding-left: 0;
    padding-right: 0;
}
